.lolesportSchedulesLeagueTable {
  color: white
}

.lolesportSchedulesLeagueRow {
  height: 36px;
}

.lolesportSchedulesTime {
  font-size: 36px;
  font-weight: bold;
}

.lolesportSchedulesPeriod {
  padding-top: 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
}

.lolesportSchedulesTeam1 {
  text-align: right;
  font-size: 28px;
}

.lolesportSchedulesTeam2 {
  text-align: left;
  font-size: 28px;
}

.lolesportSchedulesLogo {
  margin-top: 5px;
  height: 50px;
  width: 50px;
}

.lolesportSchedulesVs {
  align-items: center;
  justify-content: center;
  color: #8fa3b0;
  font-size: 18px;
  font-weight: bold;
}

.lolesportSchedulesLeagueInfo {
  color: #8fa3b0;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.lolesportSchedulesSides {
  width: 20%;
}

.lolesportSchedulesBold {
  font-weight: bold;
}

.lolesportSchedulesFloatRight {
  float: right;
}

.lolesportSchedulesFloatLeft {
  float: left;
}

.lolesportSchedulesLiveLabel {
  color: #de2f2f
}