.leagueTable {
  color: white
}

.leagueRow {
  height: 36px;
}

.time {
  font-size: 36px;
  font-weight: bold;
  width: 30px;
  float: left;
}

.period {
  padding-left: 1px;
  padding-top: 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.team1 {
  text-align: right;
  font-size: 28px;
}

.team2 {
  text-align: left;
  font-size: 28px;
}

.logo {
  margin-top: 5px;
  height: 50px;
  width: 50px;
}

.vs {
  align-items: center;
  justify-content: center;
  color: #8fa3b0;
  font-size: 18px;
  font-weight: bold;
}

.leagueInfo {
  color: #8fa3b0;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.sides {
  width: 20%;
}

.bold {
  font-weight: bold;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.liveLabel {
  color: #de2f2f
}