<table class="leagueTable">
  {% if groupedSchedules.length === 0 %}
    <tr>
      <td>{{ 'NO_SCHEDULES_FOUND' | translate }}</td>
    </tr>
  {% else %}
    {% for schedules in groupedSchedules %}
      {% for schedule in schedules %}
        {% if loop.index0 === 0 %}
          <tr class="leagueRow">
            <td colspan="100%">
              <span class="floatLeft">
                <span class="bold">{{schedule.startDayOfWeek}}</span>
                –
                <span>{{schedule.startMonth}}</span>
                <span>{{schedule.startDayOfMonth}}</span>
              </span>
              {% if config.showTournamentBlock %}
                <span class="floatRight">{{schedule.blockName}}</span>
              {% endif %}
            </td>
          </tr>
        {% endif %}
        <tr class="leagueRow">
          <td class="sides">
            <div class="time">
              {% if schedule["isLive"] %}
                <div class="liveLabel">{{ 'LIVE' | translate }}</div>
              {% else %}
                {% if config.use24HourTime %}
                  {{ schedule["startHour"] }}:00
                {% else %}
                  {{ schedule["startHour"] }}
                {% endif %}
              {% endif %}
            </div>
            {% if config.showPeriodLabel and schedule["isLive"] == false %}
              <div class="period">
                {{ schedule["startPeriod"] }}
              </div>
            {% endif %}
          </td>
          {% if config.showTeamLabel %}
            <td>
              {% if config.useTeamFullName %}
                <div class="team1">{{ schedule.match.teams[0].name }}</div>
              {% else %}
                <div class="team1">{{ schedule.match.teams[0].code }}</div>
              {% endif %}
            </td>
          {% endif %}
          <td>
            <img class="logo" src="{{ schedule.match.teams[0].image }}"/>
          </td>
          <td>
            <div class="vs">VS</div>
          </td>
          <td>
            <img class="logo" src="{{ schedule.match.teams[1].image }}"/>
          </td>
          {% if config.showTeamLabel %}
            <td>
              {% if config.useTeamFullName %}
                <div class="team2">{{ schedule.match.teams[1].name }}</div>
              {% else %}
                <div class="team2">{{ schedule.match.teams[1].code }}</div>
              {% endif %}
            </td>
          {% endif %}
          {% if config.showRegionAndBestOf %}
            <td class="sides">
              <div class="leagueInfo">{{ schedule.league.name }}</div>
              <div class="leagueInfo">
                {{ 'BEST_OF' | translate }}
                {{ schedule.match.strategy.count }}
              </div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    {% endfor %}
  {% endif %}
</table>