<table>
  {% if standings.length === 0 %}
    <tr>
      <td>{{ 'NO_STANDINGS_FOUND' | translate }}</td>
    </tr>
  {% else %}
    {% if config.showStageName %}
      <thead>
        <tr>
          <div>{{stageName}}</div>
        </tr>
      </thead>
    {% endif %}
    {% for standing in standings %}
      {% if standing.teams.length === 1 %}
        <tr class="row">
          <td class="ordinalText">{{standing.ordinal}}</td>
          {% if config.showTeamIcons %}
            <td><img class="logo" src="{{ standing.teams[0].image }}"/></td>
          {% endif %}
          <td class="row">
            {% if config.useTeamFullName %}
              <div class="teamCode">{{standing.teams[0].name}}</div>
            {% else %}
              <div class="teamCode">{{standing.teams[0].code}}</div>
            {% endif %}
            <div class="teamRatio">{{standing.teams[0].record.wins}}W-{{standing.teams[0].record.losses}}L</div>
          </td>
        </tr>
      {% else %}
        {% for team in standing.teams %}
          {% if loop.index0 === 0 %}
            <tr>
              <td class="ordinalText">{{standing.ordinal}}</td>
              {% if config.showTeamIcons %}
                <td><img class="logo" src="{{ team.image }}"/></td>
              {% endif %}
              <td class="row">
                {% if config.useTeamFullName %}
                  <div class="teamCode">{{standing.teams[0].name}}</div>
                {% else %}
                  <div class="teamCode">{{standing.teams[0].code}}</div>
                {% endif %}
                <div class="teamRatio">{{standing.teams[0].record.wins}}W-{{standing.teams[0].record.losses}}L</div>
              </td>
            </tr>
          {% else %}
            <tr>
              <td class="ordinalText"></td>
              {% if config.showTeamIcons %}
                <td><img class="logo" src="{{ team.image }}"/></td>
              {% endif %}
              <td class="row">
                {% if config.useTeamFullName %}
                  <div class="teamCode">{{team.name}}</div>
                {% else %}
                  <div class="teamCode">{{team.code}}</div>
                {% endif %}
                <div class="teamRatio">{{team.record.wins}}W-{{team.record.losses}}L</div>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
</table>